.navItemContainer {
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
  width: fit-content;
}

.navItemContainer:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

.navItemContainer:active {
  background-color: #3d3d3d;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.itemName {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 24px;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 769px) {
  .navItemContainer p {
    display: none;
    width: fit-content;
  }
}

@media (max-width: 426px) {
  .navItemContainer img {
    width: 24px;
    height: 24px;
  }
}
