.avatarContainer {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 2px transparent; */
}
.avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.avatarContainer :hover {
  cursor: pointer;
}
