.pollsCreatedContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow-y: scroll;
}

.subContainer {
  display: flex;
  flex-direction: column;
  padding: 4px;
  justify-content: center;
  width: 90%;
}

@media (max-width: 768px) {
  .subContainer {
    width: 100%;
  }
}
